.noticiasLink{
	text-decoration: none !important;
}

.noticiasLink h5{
	color: white;
	padding: 10px;
}

.angle{
	font-size: 50px;
	color: rgb(9,72,102);
}

.actualidad .carousel-control-prev, .actualidad .carousel-control-next{
	height: 500px;
}

.datosNoticia{
	background:rgba(9,36,50,0.7);
	position:absolute; /*El div será ubicado con relación a la pantalla*/
	left:0px; /*A la derecha deje un espacio de 0px*/
	right:0px; /*A la izquierda deje un espacio de 0px*/
	bottom:0px; /*Abajo deje un espacio de 0px*/
}

.noticiasBanner:before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0,0,0,0.4);
}
.noticiasBanner:after {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: -webkit-linear-gradient(right, #092432, transparent, transparent);
}

.noticiasBanner .informacionNoticia{
	color: white;
    text-align: justify;
    z-index: 90;
    position: absolute;
    right: 6em;
    top: 15%;
    width: 40%;
    font-family: graphic-light !important;
}

.noticiasBanner .informacionNoticia h5{
	font-size: 25px;
	font-family: Graphik-Black !important;
}
.noticiasBanner .informacionNoticia p{
	font-size: 15px;
    
}

@media screen and (max-width: 800px){
    .noticiasBanner .informacionNoticia{
        width: 95%;
        right: auto;
    }
    p{  
        padding-left: 17px;
    }
    h5{
        margin-top: -72px;
        margin-left: 15px;
    }
}
.container2{
    margin-right:auto;
    margin-left:auto;
}
.container2:before,.container2:after{
    content:" ";
    display:table
}
.container2:after{
    clear:both
}
@media (min-width: 1200px){
    .container2{
        width:100%
    }
}
@media screen and (max-width: 576px){
    div#carouselExampleIndicators.carousel.slide{
        margin-bottom: 20px!important;
    }
}