/* @font-face {
    font-family: "Graphik-Black";
    src: url('../fonts/Graphik-Black.woff');
} 
 */
.indicador{
  font-family: Graphik-Bold !important;
  /*border: 1px solid #3f5263;*/
 /* background-image: url('../images/SplitShire-03692.jpg');*/
  background-position: center center;
  background-size: cover;
  padding: 0px;
  margin: 0px;
 /* height: 50%;*/
}

.indicador .content{
  padding: 0px;
  margin: 0px;
  background-color: rgba(0, 0, 0, .2);
  transition: background-color 0.5s ease;
  color: white;

}

.indicador .content:hover{
  background-color: rgba(0, 0, 0, .8);
  transition: background-color 0.5s ease;
  color: white;
}

div.tab {  
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */


div.tab button {
  color: #1c1c1c;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
  background-color: #ffffff;
}

/* Create an active/current tablink class */
div.tab button.active {
  background-color: #1b2935;
  
  color: #ffffff;
}

/* Style the tab content */
.tab_estcontent {
  display: none;
  padding: 6px 12px;
  border: 3px solid #ccc;
  /*border-top: none;*/
  background-color: #ffffff;
  
}




div.est_tab button {
  color: #1c1c1c;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
div.est_tab button:hover {
  background-color: #ffffff;
}

/* Create an active/current est_tablink class */
div.est_tab button.active {
  background-color: #1b2935;
  
  color: #ffffff;
}

/* Style the tab content */
.est_tabcontent {
  display: none;
  padding: 6px 12px;
  border: 3px solid #ccc;
  /*border-top: none;*/
  background-color: #ffffff;
  
}

/* Modificacion Robert  */
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"]
{
  position: absolute;
  margin-top: 4px\9;
  margin-left: 250px;
  display: flex;
  vertical-align: middle;
}
/* Fin Style the tab */

/* Style Acordeon */

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
  background-color: #33393f;
  color: #e0e8ef;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
  background-color: #283037;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
}

/* Fin Stylo Acordeon */  

/*  form steps */

* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}


#signupForm {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}



h2 {
  text-align: center; 
  color: #190707; 
  /* font-family: Raleway; */
  font-size: 37px;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  /* font-family: Raleway; */
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

select {
  padding: 10px;
  width: 100%;
  /* height: 35px; */
  font-size: 17px;
  /* font-family: Raleway; */
  border: 1px solid #aaaaaa;
  
}

/* Mark select boxes that gets an error on validation: */
select.invalid {
  background-color: #ffdddd;
}

textarea {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  /* font-family: Raleway; */
  border: 1px solid #aaaaaa;
  
}


#resultado_1 {
  padding: 10px;
  width: 40% important!;
  font-size: 17px;
  /* font-family: Raleway; */
  border: 1px solid #aaaaaa;
  
}



/* Mark textarea boxes that gets an error on validation: */
textarea.invalid {
  background-color: #ffdddd;
}
label
{
  position: relative;
  font-size: 15px;
  font-style: italic;
  width: 100%;
  
  /* font-family: Raleway; */
}




/* Hide all steps by default: */
.tab {
  display: none;
  font-size: 120%;
  /*text-align: left;*/
  font-weight: bold;
  
}

button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  /* font-family: Raleway; */
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
  font-family: Raleway;
  font-size: 19px;
  color: #ffffff;
}

#nextBtn {
  
  font-family: Raleway;
  font-size: 19px;
  color: #ffffff;
}


/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
} 

#txt_list_pdf 
{
  padding: 10px;
  /*width: 100%;*/
  font-size: 17px;
  font-family: Raleway;
  /* border: 1px solid #aaaaaa;*/
}
#txt_Titulo_verde 
{
  
  /*width: 100%;*/
  
  font-weight: bold;
  font-size: 30px;
  font-family: Raleway;
  /* border: 1px solid #aaaaaa;*/
}

/*  fin form steps */

/* tablas datos indicador*/

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  /* border-bottom: 1px solid #283037;*/
  
}
/*
hr{
  
  border-bottom: 1px solid #4CAF50;
}
*/
#titulo_datos
{
  padding: 10px;
  font-weight: bold;
  font-size: 19px;
  font-family: Raleway;
  
  
}

#contenido_datos
{
  padding: 10px;
  
  font-size: 16px;
  font-family: Raleway;
  
  
}

.error_mensaje
{
  color: red;
  text-align: center ;
}
.textbox_corto
{
  padding: 10px;
  width: 85%;
  font-size: 17px;
  /* font-family: Raleway; */
  border: 1px solid #aaaaaa;

}



#btn_def_lugar_1,#btn_def_lugar_2,#btn_def_lugar_3,#btn_def_lugar_4,#btn_def_lugar_5,#btn_def_lugar_6,#btn_def_lugar_7,#btn_def_lugar_8,#est_btn_def_lugar_1,#est_btn_def_lugar_2,#est_btn_def_lugar_3,#est_btn_def_lugar_4,#est_btn_def_lugar_5{
    background-color: #FE9A2E ; /* Green background */
    border: 5px ; /* Green border */
    color: white; /* White text */
   /* padding: -30px -30px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: center; /* Float the buttons side by side */
    height: 65px;
    width: auto;
    padding-right: 30px;
   line-height: 20px; 

text-align: center;

}








/* tablas datos indicador*/
/*  stilo validacion*/
#commentForm {
  width: 500px;
}
#commentForm label {
  width: 250px;
}
#commentForm label.error, #commentForm input.submit {
  margin-left: 253px;
}
/*
#signupForm {
  width: 670px;
}
*/
#signupForm label.error {
  margin-left: 10px;
  /*width: auto;*/
  display: inline;
}
#newsletter_topics label.error {
  display: none;
  margin-left: 103px;
}
/*  stilo validacion*/

/* Style the tab */
.tab_menu {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab_menu content */
.tab_menu button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab_menu button:hover {
  background-color: #ddd;
}

/* Create an active/current tab_menulink class */
.tab_menu button.active {
  background-color: #ccc;
}



/* stilo vertical tabs*/

* {box-sizing: border-box}

/* Style the tab */
.tab_vert {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 530px;
}





/* Style the buttons that are used to open the tab content */
.tab_vert button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab_vert button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab_vert button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent_vert {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 530px;
}

/*fin stilo tabs vertical*/

/* formulario responce/*

*/


/*Style inputs, select elements and textareas */
/*
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}


label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.container {
  /*border-radius: 5px;*/
  /*background-color: #fff;*/
  padding: 20px;
 

    width: 70%;
    margin: 0 auto;
    
    margin-bottom: 3%;
    margin-top: 3%;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}



#global {
  height: 100%;
  width: 100%;
  border: 1px solid #ddd;
  background: #f1f1f1;
  overflow-y: scroll;
}


#mensajes {
  height: auto;
  width: 100%;
}
.texto {
  
  background:#fff;
}

hr { 
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 5px;
} 


* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 14px 16px;
  
  height: 200px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* -------------------------*/


/* Style the form */
#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid_est {
  background-color: #ffdddd;
}

/* Hide all step_ests by default: */
.tab_est {
  display: none;
}

/* Make circles that indicate the step_ests of the form: */
.step_est {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none; 
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step_est: */
.step_est.active {
  opacity: 1;
}

/* Mark the step_ests that are finished and valid: */
.step_est.finish {
  background-color: #4CAF50;
}

#prevBtn_est {
  background-color: #bbbbbb;
  font-family: Raleway;
  font-size: 19px;
  color: #ffffff;
}

#nextBtn_est{
  
  font-family: Raleway;
  font-size: 19px;
  color: #ffffff;
}

/*STYLO TABS ESTRATEGICOS*/


/* Style the tab_est */
.tab_est {
    overflow: hidden;
    border: 1px solid #ccc;
    
}

/* Style the buttons that are used to open the tab_est content */
.tab_est button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab_est button:hover {
    background-color: #ffffff;
}

/* Create an active/current tab_estlink class */
.tab_est button.active {
     background-color: #1b2935;
  
  color: #ffffff;
}

/* Style the tab_est content */

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 3px solid #ccc;
  /*border-top: none;*/
  background-color: #ffffff;
  
}

/*
/* Style the buttons inside the tab */
div.tab_est button {
  color: #1c1c1c;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

div.tab_est {  
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.button5 {
    background-color: white;
    color: black;
    border: 1px solid #555555;
}

.button5:hover {
    background-color: #555555;
    color: white;
}


.progress {
  height: 35px;

}
.progress .skill {
  font: normal 12px ;
 
  padding: 0;
  margin: 0 0 0 20px;
  text-transform: uppercase;
}
.progress .skill .val {
  float: right;
  font-style: normal;
  margin: 0 20px 0 0;
}

.progress-bar {
  text-align: left;
  transition-duration: 3s;
}

/*-----menu principal 4 acciones ---*/
/*carateres mensaje */



#tamanio_caracteres{
  

font-size: 11px;
color:orange;
text-align: right important!;


}

.datos_cargados_lugar_resultados{
font-size: 13px;
color:green;
text-align: center ;


}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('images/pageLoader.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;

}


