s@charset "UTF-8";
/*
Theme Name: Especiales Gobierno Del Estado de Hidalgo
Theme URI: http://www.hidalgo.gob.mx
Description: Hidalgo Crece contigo
Author: Innovación y Mejora Regulatoria / Hilda Muñoz
Version: V.1.0 
Tags: Gobierno, Hidalgo
*/

/*@import url(css/estilosHF.css);*/
@import url(css/bootstrap.min.css);
@import url(css/font-awesome//css/font-awesome.min.css);
@import url(css/Simple-Line-Icons-Webfont/simple-line-icons.css);

/* =========== General ============= */
@font-face{
    font-family: Graphik-Semibold;
    src: url(fonts/Graphik-Semibold.otf)
}
@font-face{
    font-family: Graphik-RegularItalic;
    src: url(fonts/Graphik-RegularItalic.otf)
}
@font-face{
    font-family: Graphik-Bold;
    src: url(fonts/Graphik-Bold.otf)
}
@font-face{
    font-family: Graphik-Light;
    src: url(fonts/Graphik-Light.otf)
}
@font-face{
    font-family: Graphik-Thin;
    src: url(fonts/Graphik-Thin.otf)
}
@font-face{
    font-family: Graphik-Regular;
    src: url(fonts/Graphik-Regular.otf)
}

/* =========== General ============= */
body {
	font: 14px 'Open Sans', sans-serif;
	font-weight: normal;
	font-style: normal;
	line-height: 23px;
	color: #727272;
}
/* a link Styles
 ------------------------------ */
 
a, .btn {
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
a:hover {
	text-decoration: none;
}
a:focus, a:hover {
	color: #5a5959;
}
a {
	outline: medium none !important;
	color: #727272;
}
.uppercase {
	text-transform: uppercase;
}
/* Headungs
 ------------------------------ */
 
h1, h2, h3, h4, h5, h6 {
	font-family: 'Graphik-Semibold', tahoma, sans-serif
	font-weight: normal;
	color: #808080;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
}
h1 {
	color: #FFF;
    line-height: 52px;
    max-height: 52px;
    font-size: 16px;
	font-family: Graphik-Bold, Tahoma, Verdana;
}

h2 {
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 20px;
	font-style: normal;
	font-weight: 300;
}
h3 {
	font-size: 19px;
	line-height: 19px;
	margin-bottom: 18px;
	font-style: normal;
}
h3.servicios {
    font-size: 16px;
    line-height: 18px;
    margin:10px 0;
}
h3.noticias {
	color: #000;
    font-size: 16px;
    line-height: 18px;
}
h4 {
	font-size: 18px;
	line-height: 20px;
	margin-bottom: 18px;
	font-style: normal;
}
h4.less-mar1 {
	margin-bottom: 3px;
	margin-top: 20px;
	color: #092432;
}
h4.less-mar2 {
	margin-bottom: 5px;
}
h4.less-mar3 {
	margin-bottom: 7px;
}
.text-box h5 {
	font-size: 14px;
    line-height: 16px;
}
h5 {
	font-size: 18px;
    line-height: 18px;
    font-style: normal;
    color: #092432;
}
h5.less-mar1 {
	margin-top: 20px;
}
h6 {
	font-size: 16px;
	line-height: 21px;
	margin-bottom: 14px;
	font-style: normal;
}
.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}
.h1, .h2, .h3, h1, h2, h3, h4 {
	margin-top: 0;
}
ul {
	list-style-type: none;
}
/* Section Paddings
 ------------------------------ */
.sec-padding {
	padding: 80px 0 80px 0;
}
.sec-padding-1 {
	padding: 20px 0 20px 0;
}
.sec-tpadding-1 {
	padding-top: 20px;
}
.sec-bpadding-2 {
	padding-bottom: 80px;
}
.sec-tpadding-2 {
	padding-top: 80px;
}
.sec-tpadding-3 {
	padding-top: 120px;
}
.sec-bpadding-3 {
	padding-bottom: 120px;
}
.sec-tpadding-4 {
	padding-top: 150px;
}
.sec-bpadding-4 {
	padding-bottom: 150px;
}
.sec-bpadding.less-padding {
	padding-bottom: 30px;
}
.section-xmore-padding {
	padding: 150px 0 150px 0;
}
.section-less-padding {
	padding: 50px 0 50px 0;
}
.sec-moreless-padding {
	padding: 30px 0 30px 0;
}
.sec-dummy-top-padding {
	padding-top: 0px;
}
.section-less-padding.top-margin {
	margin-top: -80px;
}
.top-margin1{
	margin-top: 10px;
}
.top-margin2{
	margin-top: 20px!important;
}
/*=============== Margins ============= */
 .bmargin {
	margin-bottom: 0px;
}
.bmargin30 {
	margin-bottom: 30px;
}
/* font weight styles
 ------------------------------ */
 
.font-weight-1 {
	font-weight: 100;
}
.font-weight-2 {
	font-weight: 200;
}
.font-weight-3 {
	font-weight: 300;
}
.font-weight-4 {
	font-weight: 400;
}
.font-weight-5 {
	font-weight: 500;
}
.font-weight-6 {
	font-weight: 600;
}
.font-weight-7 {
	font-weight: 700;
}
.font-weight-8 {
	font-weight: 800;
}
/*=============== Estructura ============= */
.site_wrapper {
	width: 100%;
	margin: 0 auto 0 auto;
}
.menu-main {
	background: none;
}
#header {
	position: relative;
	padding: 0;
	width: 100%;
	left: 0px;
	margin: 0px;
	top: 0px;
	z-index: 999;
}
/* Menú
 ------------------------------ */
.yamm .nav, .yamm .collapse, .yamm .dropup, .yamm .dropdown {
	position: static;
}
.navbar-brand {
	float: left;
	font-size: 18px;
	height: 50px;
	line-height: 20px;
	padding: 21px 0 0;
}
.navbar-default {
	background: none;
	margin-bottom: 0px;
	background: none;
	border: 0;
}
ul.nav>li>a.active {
	color: #092432;/*	border-bottom:3px solid #06d0d8;*/
}
ul.nav>li>a:hover.active {
	color: #092432;/*border-bottom:3px solid #06d0d8;*/
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
	color: #092432;
}
.navbar-nav > li > a {
	padding-bottom: 30px;
	padding-top: 30px;
	text-transform: uppercase;
}
.navbar-collapse.pull-right {
	width: auto;
}
.container, .jumbotron .container {
	width: auto;
	max-width: 1170px;
}
.titulo{
	background: url("images/HGris.png");
	background-repeat: repeat-x;
}
.section-light {
	background-color: #f6f6f6;
}
.section-side-image {
	position: relative;
	padding: 0px;
	margin: -9px 0 0 0;
}
	.section-side-image .img-holder {
		overflow: hidden;
		height: 100%;
		padding: 0px;
		top: 0px;
		position: absolute;
	}
.background-imgholder.top-padd {
	padding-top: 80px;
}
	.section-side-image .text-inner {
		padding: 40px 80px 40px 0;
	}
.section-side-image .text-inner.two {
	padding: 0px 80px 0px 0;
}
.background-imgholder {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 0;
	background-size: cover !important;
	background-position: 50% 50% !important;
}
.nodisplay-image {
	display: none;
}
.text-box {
	width: 100%;
	float: left;
	padding: 40px 70px;
}
.text-box.white {
	background-color: #fff;
}
.team-holder7.two {
	overflow: hidden;
	max-height: 330px;
	background-color: #fff;
}
/* Titular
 ------------------------------ */ 	
.team-holder7 {
	overflow: hidden;
	max-height: 600px;
	/* [disabled]background-color: #fff; */
}
.team-holder7 .team-member {
	transition: all 0.3s ease-out 0s;
}
.team-holder7 .team-member img {
	transition: all 0.3s ease-out 0s;
}
.team-member img{
		height: auto;
	}
.team-holder7 .info-box {
	position: relative;
	bottom: 0;
	overflow: hidden;
	padding: 16px 25px 120px;
	border-top: 1px solid #e4e4e4;
	background-color: #fff;
	transition: all 0.3s ease-out 0s;
}
.team-holder7:hover .info-box {
	border-top: 1px solid #e4e4e4;
	bottom: 100px;
	transition: all 0.3s ease-out 0s;
}
.team-holder7:hover .team-member img {
	transform: scale(1.1, 1.1);
	transition: all 0.3s ease 0s;
}
.team-holder7 .info-box .social-icons {
	text-align: center;
}
.team-holder7 .info-box .social-icons li {
	display: inline;
}
.team-holder7 .info-box .social-icons i {
	color: #242424;
	font-size: 16px;
	margin: 0 15px 0 0;
}
p.simple-image {
	margin: 0;
}
.text-green-4 {
	color: #8ac700;
}
/* social icons 3
 ------------------------------ */

	.social-icons-3 {
		margin: 0;
		padding: 0;
	}
.social-icons-3 li {
	display: inline;
}
.social-icons-3 li a {
	width: 40px;
	height: 40px;
	padding: 0px;
	margin: 0 5px 5px 0;
	text-align: center;
	font-size: 16px;
	color: #FFF;
	line-height: 39px;
	display:inline-block;
	border-radius: 100%;
	background-color: #454444;
}
.social-icons-3 li a:hover, .social-icons-3 li a.active {
	color: #fff;
	background-color: #092432;
}
.address-info {
		padding: 0px;
		margin: 10px 0;
	}
.address-info li {
	padding: 0;
	margin: 0;
	display: block;
	color: #727272;
	line-height: 23px;
	border-bottom: 1px solid #2e2e2e;
}
.address-info li i {
	color: #727272;
	padding: 0 10px 0 0;
}
.address-info li:last-child {
	border-bottom:none;
}
.address-info.no-border li {
	border-bottom:none;
}

.section-less-padding {
	padding: 50px 0 50px 0;
}
.section-orange-2 {
	background-color: #092432;
}
.text-white {
	color: #fff;
}
#text-white p{
	color: #fff;
}
.margin-top2 {
    float: left;
    margin-top: 20px;
    width: 100%;
}
/* button border white
 ------------------------------ */
.btn.btn-border.white-2 {
	color:#fff;
	border-color:#fff;
}
.btn.btn-border:hover.white-2 {
	color:#242424;
	background-color:#fff;
	border-color:#fff;
}
.btn.btn-border {
	color: #242424;
	border: 1px solid;
	padding: 15px 60px;
}
.btn {
	padding: 10px 36px;
	margin: 0px;
	box-shadow: none;
	border-radius: 0;
}
/* Feature Box8
 ------------------------------ */

.box:nth-child(3) .iconbox-small{
	float: left;
	margin: 0px 20px 0px 0px;
}
.box:nth-child(3) .text-box-left{
	display: block;
    padding: 0px 0px 0px 99px;
    margin: 0px;
    text-align: left;
}
.box:nth-child(5) .iconbox-small{
	float: left;
	margin: 0px 20px 0px 0px;
}
.box:nth-child(5) .text-box-left{
	display: block;
    padding: 0px 0px 0px 99px;
    margin: 0px;
    text-align: left;
}

.box:nth-child(6) .iconbox-small{
	float: right;
	margin: 0px 0px 0px 20px;
}
.box:nth-child(6) .text-box-right{
	display: block;
	padding: 0px 90px 0px 0;
	margin: 0px;
	text-align: right;
}
.box:nth-child(8) .iconbox-small{
	float: right;
	margin: 0px 0px 0px 20px;
}
.box:nth-child(8) .text-box-right{
	display: block;
	padding: 0px 90px 0px 0;
	margin: 0px;
	text-align: right;
}
.box:nth-child(10) .iconbox-small{
	float: right;
	margin: 0px 0px 0px 20px;
}
.box:nth-child(10) .text-box-right{
	display: block;
	padding: 0px 90px 0px 0;
	margin: 0px;
	text-align: right;
}


.feature-box8 {
	width: 100%;
	padding: 0px;
	margin-bottom: 80px;
	transition: all 0.3s ease-out 0s;
	background-color: #fff;
	height: 15px;
}
.feature-box8 .iconbox-small {
	line-height: 84px;
	color: #092432;
	background-color: #fff;
	border: 1px solid #e4e4e4;
}
.feature-box8 .text-left {
	text-align: right;
}
.feature-box8:hover .iconbox-small, .feature-box8.active .iconbox-small {
	line-height: 84px;
	color: #fff;
	background-color: #092432;
	border: 1px solid #092432;
}
.feature-box8:hover h4, .feature-box8.active h4 {
	color: #092432;
}
.iconbox-small {
	width: 80px;
	height: 80px;
	font-size: 26px;
	color: #242424;
	line-height: 80px;
}
.iconbox-small img{
	margin-top: -12px;
	}
.text-box-left {
	display: block;
	padding: 0px 90px 0px 0;
	margin: 0px;
	text-align: right;
}
.iconbox-dxlarge.right, .iconbox-xlarge.right, .iconbox-large.right, .iconbox-xmedium.right, .iconbox-medium.right, .iconbox-smedium.right, .iconbox-small.right, .iconbox-tiny.right, .iconbox-xtiny.right {
	float: right;
	margin: 0px 0px 0px 20px;
}
.iconbox-dxlarge, .iconbox-xlarge, .iconbox-large, .iconbox-xmedium, .iconbox-medium, .iconbox-smedium, .iconbox-small, .iconbox-tiny, .iconbox-xtiny {
	padding: 0px;
	margin: 0 auto;
	text-align: center;
	transition: all 0.3s ease-out 0s;
}
.text-box-right {
	display: block;
	padding: 0px 0px 0px 99px;
	margin: 0px;
	text-align: left;
}
/* side navigation list
 ------------------------------ */
.category-links {
	width: 100%;
	padding: 0px;
	margin: 0 0 20px 0;
	float: left;
}
.category-links li {
	width: 100%;
	padding: 10px 0;
	margin: 0 0 0 0;
	float: left;
	border-bottom: 1px solid #eeeeee;
}
.category-links li a:hover, .category-links li a.active {
	color: #dbdc33;
}
.category-links li:last-child {
	border-bottom: none;
}
.category-links.red-4 li a:hover, .category-links.red-4 li a.active {
	color: #f43819;
}
.category-links.cyan li a:hover, .category-links.cyan li a.active {
	color: #42d1aa;
}
.category-links.orange-2 li a:hover, .category-links.orange-2 li a.active {
	color: #092432;
}
.iconbox-dxlarge.left, .iconbox-xlarge.left, .iconbox-large.left, .iconbox-xmedium.left, .iconbox-medium.left, .iconbox-smedium.left, .iconbox-small.left, .iconbox-tiny.left, .iconbox-xtiny.left {
	float: left;
	margin: 0px 20px 0px 0px;
}
/* =========== Parallax ============= */

.parallax-event {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0px;
	text-align: center;
	background: url("images/backAzul.jpg");
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100% 0;
	background-position: center;
	z-index: 1;
}
.parallax-event .big-text {
	font-size:100px;
	font-weight:bold;
	color:#fff;
	text-align:center;
	line-height:80px;
}
.section-overlay {
	position: relative;
	width: 100%;
	padding: 0px;
	margin: 0px;
	left: 0px;
	top: 0px;
	float: left;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.4);
}
.col-centered {
	float: none;
	margin: 0 auto;
}
.sec-padd-default-page {
	padding: 110px 0 110px 0;
}
/*=====================================================================
	Responsive tabs 1
=====================================================================*/

.tabs1 {
	margin: 0;
	padding: 0;
	list-style-type: none;
	border-bottom: none;
	height: 51px;
	width: 99%;
	background-color: #fff;
	position: relative;
	z-index: 4;
}
.tabs1 li {
	margin: 0;
	text-align: left;
}
.tabs1 li a {
	float: left;
	color: #454545;
	height: 50px;
	padding: 0px 20px;
	margin-right: 6px;
	font-weight: normal;
	text-decoration: none;
	line-height: 50px;
	font-size: 18px;
	background-color: #fff;
	border: 1px solid #e0e0e0;
}
.tabs1 li a:hover {
	color: #092432;
}
.tabs1 li.active a {
	color: #fff;
	border: 1px solid #092432;
	background-color: #092432;
}
.tabs-content1 {
	float: left;
	width: 100%;
	padding: 5% 0% 0% 0%;
	text-align: left;
	margin-bottom: 0;
	position: relative;
	z-index: 3;
}
.tabs-content1 img.img_left2 {
	width: auto;
	margin-right: 25px;
	margin-bottom: 20px;
}
.tabs-content1 .tabs-panel {
	padding: 20px;
}
.tabs-content1 .tabs-panel7 .tab-title3 {
	display: none;
}
.tabs13.two li a {
	padding: 0px 20px;
}
.padding-left-3 {
	padding-left: 30px;
}
/*============ Lists ============ */

.iconlist {
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.iconlist li {
	padding: 0px;
	margin: 0 0 15px 0;
	display: block;
	line-height: 23px;
	padding-right: 20px;
}
.iconlist li i {
	color: #092432;
	padding: 0 15px 0 0;
}
.bottom-margin5 {
    margin-bottom: 50px;
}
.sidebar-posts {
    width: 100%;
    padding: 0px;
    margin: 0 0 25px 0;
    float: left;
}
.image-left {
    color: #fff;
    float: left;
    margin: 0;
    padding: 0 20px 0 0;
    transition: all 0.3s ease-out 0s;
}
/* button border light
 ------------------------------ */
.btn.btn-border.light {
	border-color:#e4e4e4;
}
.btn.btn-border:hover.light {
	color:#fff;
	background-color:#242424;
	border-color:#242424;
}
.btn.btn-border.orange-2 {
	color:#092432;
	border-color:#092432;
}
.btn.btn-border:hover.orange-2 {
	color:#fff;
	background-color:#092432;
	border-color:#092432;
}
.btn.btn-round {
	border-radius: 2px;
}
.btn {
	padding: 10px 36px;
	margin: 0px;
	box-shadow: none;
	border-radius: 0;
}
.parallax-section1 {
	width: 100%;
	float: left;
	padding: 0;
	margin: 0px;
	text-align: center;
	background: url("images/backBlanco.jpg");
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100% 0;
	background-position: center;
	z-index: 1;
}
/* Client Logo List
 ------------------------------ */
.clientlogo-list {
	width: 100%;
	padding: 20px;
	margin: 20px;
	float: left;
}
.clientlogo-list li {
	display: inline;
	padding: 0 16px 0 0;
	margin: 0px;
}
.clientlogo-list li.last {
	padding: 0 0 0 0;
}
.gobierno {
	height: 220px
	padding: 20px 0;
}
/* Busqueda
 ------------------------------ */
#___gcse_0 {
	margin-top: 30px;
}
.gsc-search-box-tools .gsc-search-box .gsc-input {
    background: url(images/google_custom_search_watermark.gif) left center no-repeat!important;
}
td.gsc-search-button {
    width: 12%;
}
/* Blog
 ------------------------------ */ 	
.blog-holder-13 {
    float: left;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 0;
    height: 370px;
}
.blog-holder-13 .image-holder{
	position: relative;
}

.blog-holder-13 .image-holder .post-date-box {
	position:absolute;
	width:125px;
	height:100px;
	bottom:30px;
	right:30px;
	font-size: 36px;
	padding: 30px 0 0 0;
}
.blog-holder-13 .image-holder .post-date-box .icon {
	font-size:18px;
}
.blog-holder-13 .image-holder .post-date-box span {
	padding-top:5px;
}
.blog-holder-13 .image-holder .shapes {
	position:absolute;
	width:250px;
	height:60px;
	bottom:-30px;
	left:30px;
	padding:0;
	background:url(../images/775.png) 0 0 no-repeat;
}
.post-date-box {
    position: absolute;
    width: 90px;
    height: 90px;
    float: left;
    font-size: 25px;
    color: #fff;
    padding: 22px 0 0 0;
    margin: 0;
    z-index: 2;
    text-align: center;
    background-color: #092432;
}
.post-date-box span {
    font-size: 13px;
    color: #fff;
    display: block;
}
/*============ page nation ============ */
.pagenation-holder {
	border-bottom: 1px solid #e9e9e9;
	float: left;
	margin: 82px 0 0 0;
	padding: 25px 0 10px;
	width: 100%;
}
.pagenation_links a {
	color: #161616;
}
.noticias p{
	font-size: 12px;
	line-height: 12px;
}
.btn.btn-orange-2.dark {
    color: #fff;
    background-color: #092432;
}

/*image hover style 4
 ------------------------------ */
.img-hover-holder-4 {
	position: relative;
	width: 100%;
	padding: 20px;
	margin: 0 0 28px 0;
	float: left;
	border: 1px solid #e4e4e4;
}
.img-hover-4 {
	position: relative;
	width: 100%;
	padding: 0px;
	margin: 0px;
	float: left;
	z-index:0;
	transition: all 0.3s ease-out 0s;
	overflow: hidden;
}
.img-hover-4 .text-box {
	position: absolute;
	width: 100%;
	height:100%;
	padding: 10px 20px 20px 20px;
	margin: 0px;
	float: left;
	z-index:1;
	top:154px;
	transition: all 0.3s ease-out 0s;
	background-color:rgba(0, 0, 0, 0.7);
}
.img-hover-4:hover .text-box {
	top:0;
}

.error_holder {
    width: 60%;
    padding: 0px;
    text-align: center;
    margin: 0 auto;
}
.error_holder .title {
    font-size: 110px;
    font-weight: 400;
    line-height: 65px;
    margin: 0;
    padding: 30px 0 30px;
    color: #092432;
}

.feature-box9 {
	width: 100%;
	height: 230px;
}
.feature-box9 .iconbox-xlarge {
	color: #092432;
}
.feature-box9:hover .iconbox-xlarge, .feature-box9.active .iconbox-xlarge {
	color: #fff;
	background-color: #092432;
	border: 1px solid #092432;
}
.feature-box9:hover h3, .feature-box9.active h3 {
	color: #fd602c;
}
.iconbox-xlarge {
    width: 135px;
    height: 135px;
    font-size: 46px;
    color: #242424;
    line-height: 135px;
    border: 1px solid #e4e4e4;
}

.pos {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 9999999;
}

.gray {
	line-height: 52px !important;
    max-height: 52px;
    background-color: #727272;
    height: 52px;
}

.logo {
    height: 52px;
    background-image: url(http://www.hidalgo.gob.mx/images/logo_w.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    background-color: #092432;
    min-width: 150px;
}

.menu {
    height: 39px;
    background: #F6F6F6;
    border-bottom: 4px #EAEAEA solid;
    width: 100%;
}

footer {
    height: auto;
    background-color: #092432;
    background-image: url(http://www.hidalgo.gob.mx/images/footer_bg.png);
    background-repeat: no-repeat;
    background-position: right;
    border: 0px;
    border-bottom: 8px #E73C4E solid;
    padding: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #FFFFFF;
}

.scrollup {
    width: 40px;
    height: 40px;
    opacity: 1;
    position: fixed;
    bottom: 22px;
    right: 20px;
    display: none;
    text-indent: -9999px;
    background: #E73C4E url(images/scroll-top-arrow.png) no-repeat 15px 16px;
    z-index: 999;
}

/*	#Themes
/* Responsive CSS Styles Table of Contents */
@media only screen and (min-width: 1301px) and (max-width: 1400px){
	.section-side-image .text-inner{
	padding: 40px 0 40px 0;
	}
	.team-holder7.two{
		max-height: 300px;
	}
}
@media only screen and (min-width: 1170px) and (max-width: 1300px){
	.section-side-image .text-inner{
	padding: 40px 0 40px 0;
	}
	.team-holder7 .info-box{
		padding: 0;
	}
	.team-holder7.two{
		max-height: 200px;
	}
}
@media only screen and (min-width: 1000px) and (max-width: 1169px){
	.section-side-image .text-inner{
	padding: 40px 0 40px 0;
	}
	.team-holder7 .info-box{
		padding: 0;
	}
	.team-holder7.two{
		max-height: 200px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 999px){
	.section-side-image .text-inner{
	padding: 40px 0 40px 0;
	}
	.text-box.white{
		margin-left: 100px;
	}
	.team-holder7 .info-box{
		padding: 0;
	}
	.team-holder7.two{
		max-height: 200px;
	}
}

@media only screen and (min-width: 640px) and (max-width: 767px){
	.section-side-image .text-inner{
		padding: 40px 80px 0 0;
	}
	.social-icons-3{
	margin-top: 40px;
	}
	.section-side-image .img-holder {
    width: 100%;
    height: 300px;
	}
	.text-box.white {
	margin-top: 260px;
	width: 125%;
	}
	.team-holder7 .team-member{
	text-align: center;
	}
	.box:nth-child(2) .feature-box8 {
    margin-bottom: 60px;
	}
	.box:nth-child(6) .feature-box8 {
    margin-bottom: 60px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 639px){
	.section-side-image .img-holder {
    width: 100%;
    height: 300px;
	}
	.social-icons-3{
		margin-top: 10px;
	}
	.text-box.white {
	margin-top: 260px;
	width: 125%;
	}
	.social-icons-3{
	margin: 10px;
	}
	.section-side-image .text-inner{
		padding: 40px 80px 0 0;
	}
	.box:nth-child(2) .feature-box8 {
    margin-bottom: 60px;
	}
	.box:nth-child(6) .feature-box8 {
    margin-bottom: 60px;
	}
}

@media only screen and (max-width: 479px){
	.section-side-image .text-inner{
	padding: 40px 80px 0 0;
	}
	.section-side-image .img-holder {
    width: 100%;
    height: 300px;
	}
	.text-box.white {
	margin-top: 125px;
	width: 125%;
	}
	.social-icons-3{
	margin-top: 40px;
	}
	.feature-box8{
	margin-bottom: 90px;
	}
	.box:nth-child(2) .feature-box8 {
    margin-bottom: 60px;
	}
	.box:nth-child(6) .feature-box8 {
    margin-bottom: 60px;
	}
}

div.logo {
  text-align: center;
}
img.logotipo {
  width: 250px;
}


@media only screen and (min-width:768px) {
  div.logo {
    text-align: left;
  }
}

@media only screen and (min-width:992px) {
  div.logo {
    text-align: center;
  }
}













